body {
	border: 1px solid #eee;
	box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.06);
	display: flex;
	font-family: "Space Mono", monospace;
	flex-direction: column;
	margin: 60px auto;
	padding: 30px 30px 30px 50px;
	width: 345px;
}

ol {
	padding: 10px 0 0 50px;
}

li {
	font-size: 16px;
	line-height: 20px;
	margin-top: 24px;
	padding-left: 16px;
	position: relative;
}

li:before {
	border-radius: 50%;
	border: 2px solid #ddd;
	content: "";
	display: block;
	height: 42px;
	left: -46px;
	position: absolute;
	top: -12px;
	width: 42px;
}

li::marker {
	font-weight: 600;
}

h2 {
	color: #bdb2ff;
}

h3 {
	color: #292929;
}
